---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('18 August 2024')}
	heroImage="/linttreen.jpg"
>
	<p>
		Olá, meu nome é Linttreen e atualmente estou estudando Sistemas de Informação e Marketing Digital. 
		A minha jornada acadêmica tem sido fascinante e desafiadora, com um foco particular no desenvolvimento front-end e na programação criativa.
		Esses campos me permitem combinar habilidades técnicas com uma abordagem inovadora, ajudando-me a criar experiências digitais que não só são funcionais, 
		mas também esteticamente agradáveis e envolventes.
		Estou particularmente interessado em como as tecnologias emergentes podem ser integradas para aprimorar a interatividade e a experiência do usuário.
	</p>

	<p>
		Além dos meus estudos, trabalho ativamente com a criação de sites e de conteúdos para Instagram. 
		Neste papel, desenvolvo e mantenho websites que atendem às necessidades específicas dos clientes, garantindo que cada projeto seja único e alinhado com as últimas tendências de design e funcionalidade.
		No Instagram, minha tarefa é criar conteúdo visual e textual que não só capte a atenção do público, mas também engaje e construa uma comunidade 
		ao redor das marcas e projetos com os quais trabalho. Essa experiência prática complementa minha formação acadêmica, 
		permitindo-me aplicar conhecimentos teóricos em contextos reais e dinâmicos. 
		Estou constantemente buscando novas formas de combinar criatividade com tecnologia para oferecer soluções inovadoras e impactantes.
	</p>
</Layout>
