---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src="/postagem 1.1.png" width="300px">
			<p>
				Olá, meu nome é Linttreen e sou estudante de Sistemas de Informação e Marketing Digital.
				Este blog será o meu espaço pessoal para documentar e refletir sobre minha jornada de aprendizado nessas áreas. 
				Aqui, pretendo compartilhar insights, descobertas e experiências adquiridas ao longo dos meus estudos, 
				bem como explorar como as duas disciplinas se interconectam e influenciam uma à outra. 

				Através deste diário digital, espero oferecer uma visão detalhada do meu progresso acadêmico e profissional, 
				além de conectar com outros interessados e profissionais do campo. 
				Acompanhe minha evolução, desde as conquistas e desafios até as novas habilidades e conhecimentos que vou desenvolvendo ao longo do caminho.
			</p>
		</main>
		<Footer />
	</body>
</html>
