---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src="https://instagram.fcaw4-1.fna.fbcdn.net/v/t51.2885-19/451710181_1021277936028653_7281835684041763640_n.jpg?stp=dst-jpg_s150x150&_nc_ht=instagram.fcaw4-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=ssyskIyRDNYQ7kNvgGq3FCl&edm=AEhyXUkBAAAA&ccb=7-5&oh=00_AYDWgwGTfiZ0IuXg9SYY_IAoNR3ETkQzeLPlAWFyQQNH4w&oe=66C83994&_nc_sid=8f1549">
			<p>
				Meu nome é Linttreen e eu sou estudante de Sistemas de Informação e de Marketing Digital. 
				Esse blog servirá como um diário para minha jornada de aprendizados.
			</p>
		</main>
		<Footer />
	</body>
</html>
